//imports
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

//bootstrap screen sizes
$screen-mobile-sm: 576px;
$screen-mobile-md: 768px;
$screen-desk-lg: 992px;
$screen-desk-xl: 1200px;

//fonts
$roboto: 'Roboto', sans-serif;